table {
    width: 50%;
    align-content: center;
}

td {
    vertical-align: top;
    padding: 5px 0 0 0 !important;
}

th {
    text-align: center;
}

.div-display {
    margin-left: 80px;
    margin-top: 100px;
}

.main-table {
    width: 50%;
    align-content: center;
}