<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Todo List</title>
    <!-- JQury from Google CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<!--    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>

    <script th:inline="javascript">
        function filter() {
            $.ajax({
                type: 'get',
                url: '/refreshtodolist?status=' + $("#status option:selected").val() + '&'
                                    + 'partName=' + $("#part option:selected").val() + '&'
                                    + 'developerId=' + $("#developer option:selected").val(),
                success: function (data){
                    $('#todo-div').html(data);
                    tableSet();
                }
            })

        }
        function changeFunc(key) {
            console.log("#### " + $("#status option:selected").val());
            console.log("#### " + $("#part option:selected").val());
            console.log("#### " + $("#developer option:selected").val());
        }
        function tableSet() {
            var table = $('#todo-list').DataTable({
                "paging": false,
                "dom": 't',
                "createdRow": function(row, data, dataIndex){
                    if( data[1] == `조치완료`){
                        console.log("###" + data[1]);
                        $(row).addClass("row-complete");
                    }
                }
                // "ordering": false,
                // "info":     false
            } );
            $('#todo-list tbody').on('click', 'tr', function () {
                var data = table.row( this ).data();
                location.href = "/todoview/" + data[0];
            } );
            $('#todo-list tbody').on('mouseenter', 'tr', function () {
                if($(table.row(this).nodes()).hasClass("row-complete")) {
                    $(table.row(this).nodes()).addClass("row-complete-mouseover");
                }

            } );
            $('#todo-list tbody').on('mouseleave', 'tr', function () {
                if($(table.row(this).nodes()).hasClass("row-complete-mouseover")) {
                    $(table.row(this).nodes()).removeClass("row-complete-mouseover");
                }
            } );



            // table.addClass("main-table");
            // table.addClass("display");
            // table.addClass("compact");
        }
        $(document).ready(function() {
            tableSet();
        } );
    </script>

</head>
<body>

    <div id="filter" class="general-div">
        <select  id="status" name="status" style="width:90px;height:30px">
            <option value="ALL">요청상태</option>
            <option th:each="statusCode : ${statusCodeList}" th:value="${statusCode.cdVal}" th:utext="${statusCode.cdVal}"/>
        </select>
        <select  id="part" name="part" style="width:100px;height:30px">
            <option value="ALL">파트</option>
            <option th:each="partCode : ${partCodeList}" th:value="${partCode.cdVal}" th:utext="${partCode.cdVal}"/>
        </select>
        <select  id="developer" name="developer" style="width:90px;height:30px">
            <option value="ALL">담당자</option>
            <option th:each="person : ${personList}" th:value="${person.personId}" th:utext="${person.personNm}"/>
        </select>
        <button class="btn" th:onclick="'filter();'">필터</button>
    </div>
    <div id="todo-div" class="table-div-list">
        <table class="display main-table compact" th:replace="tablefragment.html :: todo-table"></table>
    </div>
</body>

</html>