<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Todo List</title>
    <!-- JQury from Google CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<!--    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
    <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
    <script th:inline="javascript">
        function loadSearchResult() {
            $.ajax({
                type: 'get',
                url: '/refreshtodolist',
                success: function (data){
                    $('#todo-div').html(data);
                }
            })

        }
        function changeFunc(key) {
            console.log("#### " + key.value);
            console.log("#### " + $("#part option:selected").val());
            console.log("#### " + $("#status option:selected").val());
        }
    </script>

</head>
<body>

<!--    <button class="btn btn-primary btn-sm" th:onclick="'loadSearchResult();'">Search</button>-->
    <select  id="user" name="category" onchange="changeFunc(this)">
        <option value="all">전체</option>
        <option th:each="statusCode : ${statusCodeList}" th:value="${statusCode.cdKey}" th:utext="${statusCode.cdVal}"/>
    </select>
    <select  id="part" name="part" >
        <option value="all">전체</option>
        <option th:each="partCode : ${partCodeList}" th:value="${partCode.cdKey}" th:utext="${partCode.cdVal}"/>
    </select>
    <select  id="status" name="status" >
        <option value="all">전체</option>
        <option th:each="person : ${personList}" th:value="${person.personId}" th:utext="${person.personNm}"/>
    </select>
    <div id="todo-div" class="row">
        <table id="todos" th:replace="tablefragment.html :: todo-table"></table>
    </div>
</body>

</html>