<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Todo List</title>
    <!-- JQury from Google CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!--    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
    <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/style.css" />
    <script th:inline="javascript">

        function tableSet() {
            var table = $('#todo-list').DataTable({
                "paging": false,
                "dom": 't',
                // "order":[]
                "ordering": false

                // "info":     false
            } );
            $('td').addClass("main-table");

        }
        $(document).ready(function() {
            tableSet();
        } );

        function list() {
            window.location.href = "../alltodolist";
        }

        function closeWindow() {
            // console.log("QQQQ");
            window.open('','_self').close();
        }

        function updateTodo() {
            var reqJson = {};
            reqJson.todo = {
                "id" : $("#id").text(),
                "pgmSts" : $("#pgmSts option:selected").val(),
                "regDt" : $("#regDt").text(),
                "regrId" : $("#regrId option:selected").val(),
                "pgmPart" : $("#pgmPart option:selected").val(),
                "pgmId" : $("#pgmId").val(),
                "pgmNm" : $("#pgmNm").val(),
                "pgmHnm" : $("#pgmHnm").val(),
                "dvlprId" : $("#dvlprId option:selected").val(),
                "sprvsrDscrptn" : $("#sprvsrDscrptn").val(),
                "dvlprDscrptn" : $("#dvlprDscrptn").val(),
                "actnReqDy" : $("#actnReqDy").val(),
                "actnPsbDy" : $("#actnPsbDy").val(),
                "actnCmplDy" : $("#actnCmplDy").val()
            };
            reqJson.mailToDvlpr = $("#mailToDvlpr").is(":checked") ? $('#mailToDvlpr').val() : "null";
            reqJson.mailToRegr = $("#mailToRegr").is(":checked") ? $('#mailToRegr').val() : "null";
            reqJson.changeKind = "U";
            //비동기 요청
            $.ajax({
                type : "post", //POST로
                url : "/singletodo", //URL 지정
                data : JSON.stringify(reqJson), //전달값은 JSON
                dataType: "json",
                contentType: 'application/json',
                success : function(data) { //성공시
                    //받아온 데이터를 스위치문사용
                    //-1은 로그인 안될때, 0은 성공, 나머지는 db오류
                    switch (Number(data)) {
                        case -1:
                            alert("저장 실패!");
                            window.location.href = "/singletodo/" + $("#id").text();
                            break;
                        case 0:
                            alert("정상적으로 등록 되었습니다.");
                            opener.parent.filter();
                            window.location.href = "/singletodo/" + $("#id").text();
                            break;
                        default:
                            alert("알수없는 오류가 발생했습니다.");
                            window.location.href = "/singletodo/" + $("#id").text();
                            break;
                    }
                },
                error : function(error) {
                    alert("오류 발생"+ error);
                }
            });

        }

    </script>

</head>
<body style="overflow-x:hidden; overflow-y:auto;">

<div id="todo-div" class="row">
    <div class="table-div-single">
        <table id="todo-list" th:fragment="todo-table" class="row-border table-striped single-table">
            <thead>
                <tr>
                    <th>항목</th>
                    <th>내용</th>
                </tr>
            </thead>
            <tbody>
            <tr>
                <td class="single-title">id</td>
                <td id="id" th:text="${todo.id}">id</td>
            </tr>
            <tr>
                <td class="single-title">상태</td>
                <td> <select id="pgmSts" name="status" style="width:90px;height:30px">
                        <option th:each="statusCode : ${statusCodeList}"
                                th:value="${statusCode.cdVal}"
                                th:utext="${statusCode.cdVal}"
                                th:selected="${statusCode.cdVal == todo.pgmSts}"
                        />
                    </select></td>
            </tr>
            <tr>
                <td class="single-title">작성일</td>
                <td id="regDt" th:text="${todo.regDt}">regDt</td>
            </tr>
            <tr>
                <td class="single-title">작성자</td>
                <td><select id="regrId" name="registerer" style="width:90px;height:30px">
                        <option th:each="person : ${personList}"
                                th:value="${person.personNm}"
                                th:utext="${person.personNm}"
                                th:selected="${person.personNm == todo.regrId}"
                        />
                    </select></td>
            </tr>
            <tr>
                <td class="single-title">파트</td>
                <td> <select id="pgmPart" name="part" style="width:100px;height:30px">
                        <option th:each="partCode : ${partCodeList}"
                                th:value="${partCode.cdVal}"
                                th:utext="${partCode.cdVal}"
                                th:selected="${partCode.cdVal == todo.pgmPart}"
                        />
                    </select></td>
            </tr>
            <tr>
                <td class="single-title">프로그램ID</td>
                <td><input id="pgmId"
                           class="textbox"
                           type="text"
                           th:value="${todo.pgmId}"
                           th:field="*{todo.pgmId}"/></td>
            </tr>
            <tr>
                <td class="single-title">프로그램명</td>
                <td><input id="pgmNm"
                           class="textbox"
                           type="text"
                           th:value="${todo.pgmNm}"
                           th:field="*{todo.pgmNm}"/></td>
            </tr>
            <tr>
                <td class="single-title">프로그램한글명</td>
                <td><input id="pgmHnm"
                           class="textbox"
                           type="text"
                           th:value="${todo.pgmHnm}"
                           th:field="*{todo.pgmHnm}"/></td>
            </tr>
            <tr>
                <td class="single-title">담당자</td>
                <td><select id="dvlprId" name="developer" style="width:90px;height:30px">
                        <option th:each="person : ${personList}"
                                th:value="${person.personNm}"
                                th:utext="${person.personNm}"
                                th:selected="${person.personNm == todo.dvlprId}"
                        />
                    </select></td>
            </tr>
            <tr>
                <td class="single-title">검토자의견</td>
                <td><textarea id="sprvsrDscrptn" rows="3" style="" name="notes"
                            th:inline="text">[[${todo.sprvsrDscrptn}]]</textarea></td>
            </tr>
            <tr>
                <td class="single-title">담당자의견</td>
                <td><textarea id="dvlprDscrptn" rows="3" style="" name="notes"
                          th:inline="text">[[${todo.dvlprDscrptn}]]</textarea></td>
            </tr>
            <tr>
                <td class="single-title">조치요청기한</td>
                <td><input id="actnReqDy"
                           class="textbox"
                           type="date"
                           th:value="${todo.actnReqDy}"
                           th:field="*{todo.actnReqDy}"/></td>
<!--                <td th:text="${todo.actnReqDy}">actnReqDy</td>-->
            </tr>
            <tr>
                <td class="single-title">조치예정기한</td>
                <td><input id="actnPsbDy"
                           class="textbox"
                           type="date"
                           th:value="${todo.actnPsbDy}"
                           th:field="*{todo.actnPsbDy}"/></td>
<!--                <td th:text="${todo.actnPsbDy}">actnPsbDy</td>-->
            </tr>
            <tr>
                <td class="single-title">조치완료일</td>
                <td><input id="actnCmplDy"
                           class="textbox"
                           type="date"
                           th:value="${todo.actnCmplDy}"
                           th:field="*{todo.actnCmplDy}"/></td>
<!--                <td th:text="${todo.actnCmplDy}">actnCmplDy</td>-->
            </tr>
          </tbody>
        </table>
        <div class="modify-div">
            <p><label><input id="mailToDvlpr" type="checkbox" name="color" th:value="${todo.dvlprId}"> 담당자에게 메일 보내기</label></p>
            <p><label><input id="mailToRegr" type="checkbox" name="color" th:value="${todo.regrId}"> 작성자에게 메일 보내기</label></p>
            <button id="update" class="btn" th:onclick="'updateTodo();'" style="width:150px;">수     정</button>
            <button id="back" class="btn" th:onclick="'closeWindow();'" style="width:150px;">닫     기</button>
        </div>
    </div>
</div>

</body>

</html>